global

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend public
    bind *:80
    default_backend apps

backend apps
    balance roundrobin
    server nginx1 172.18.2.10:80 check
    server nginx2 172.18.2.12:80 check